# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
env/
venv/
.venv/
virtualenv/
ENV/

# Banco de dados
*.db
*.sqlite
*.sqlite3
instance/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Ambiente
.env
.flaskenv
.python-version

# Logs
*.log
logs/